body
{
    background-image: url(https://img.freepik.com/fotos-premium/fondo-tablones-madera-colores-pastel-fondo-madera-colores-pastel-fondo-tablones-madera-fondo-madera-ai-generativo_703884-4104.jpg);

    background-size: cover;

}

h2

{

font-family: Georgia, serif;
font-size: 32px;
letter-spacing: 2px;
word-spacing: 2px;
color: #000000;
font-weight: 700;
text-decoration: none;
font-style: italic;
font-variant: normal;
text-transform: none;
text-align: center;

}

p
{
    text-align: center;
}
    
  img {
        display: block;
        margin: auto;
      }

form

{
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      
    form input {
        width: 90%;
        height: 30px;
        margin: 0.5rem;
      }
      
    form button {
        padding: 0.5em 1em;
        border: none;
        background: rgb(100, 200, 255);
        cursor: pointer;
      }

      